<div class="item-list">

	<h1>Patient List</h1>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					<a href="#" ng-click="vm.orderByField='firstName'; vm.reverseSort = !vm.reverseSort">
					Name <span ng-show="vm.orderByField == 'firstName'"><span ng-show="!vm.reverseSort">^</span><span ng-show="vm.reverseSort">v</span></span>
					</a>
				</th>
				<th>
					<a href="#" ng-click="vm.orderByField='lastName'; vm.reverseSort = !vm.reverseSort">
					Surname <span ng-show="vm.orderByField == 'lastName'"><span ng-show="!vm.reverseSort">^</span><span ng-show="vm.reverseSort">v</span></span>
					</a>
				</th>
				<th>
					<a href="#" ng-click="vm.orderByField='age'; vm.reverseSort = !vm.reverseSort">
					Id <span ng-show="vm.orderByField == 'age'"><span ng-show="!vm.reverseSort">^</span><span ng-show="vm.reverseSort">v</span></span>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="patient in vm.patients | orderBy:orderByField:reverseSort">
				<td>{{patient.name}}</td>
				<td>{{patient.surname}}</td>
				<td>{{patient.id}}</td>
			</tr>
		</tbody>
  	</table>
	
</div>